<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="DiscAnalyzerView" />
	</extensions>

	<targets>
		<target xsi:type="File" name="logfileDev"
		        fileName="${basedir}/Logs/log.${longdate:cached=true}.log"
		        layout="${longdate}|${uppercase:${level}}|${logger}|${threadid}|${message}|${exception:format=tostring}"
		        archiveFileName="${basedir}/Logs/archives/log.${shortdate}.{#}.log"
		        archiveAboveSize="5242880"
		        archiveEvery="Day"
		        archiveNumbering = "Rolling"
		        maxArchiveFiles="20"/>
		<target xsi:type="File" name="logfileProd"
		        fileName="${basedir}/Logs/log.${longdate:cached=true}.log"
		        layout="${longdate}|${uppercase:${level}}|${logger}|${threadid}|${message}|${exception:format=tostring}"
		        archiveFileName="${basedir}/Logs/archives/log.${shortdate}.{#}.log"
		        archiveAboveSize="5242880"
		        archiveEvery="Day"
		        archiveNumbering = "Rolling"
		        maxArchiveFiles="20"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfileDev">
			<filters>
				<when condition="equals('${buildConfiguration}','Release')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Warn" writeTo="logfileProd">
			<filters>
				<when condition="equals('${buildConfiguration}','Debug')" action="Ignore" />
			</filters>
		</logger>
	</rules>
</nlog>