<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File" name="logfile"
		        fileName="${basedir}/Logs/log.${longdate:cached=true}.log"
		        layout="${longdate}|${uppercase:${level}}|${logger}|${threadid}|${message}|${exception:format=tostring}"
		        archiveFileName="${basedir}/Logs/archives/log.${shortdate}.{#}.log"
		        archiveAboveSize="5242880"
		        archiveEvery="Day"
		        archiveNumbering = "Rolling"
		        maxArchiveFiles="20"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>